#board_container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

#game_board {
    height: 70vh;
    width: 70vw;
    border-collapse: collapse;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
    border-width: 0px;
}

#game_board tr:first-child {
    height: 5vh;
}

#game_board tr:first-child td div{
    font-weight: bolder;
}


#game_board tr:not(:first-child) {
    height: 10vh;
}

#game_board tr:not(:first-child):hover {
    background-color: orange;
}

#game_board>tr:nth-child(odd) {
    background-color: rgb(38, 38, 38);
}

#game_board>tr:nth-child(even) {
    background-color: rgb(56, 56, 56);
}

.first_col,
.second_col {
    width: 35%;
}

.third_col {
    width: 20%;
}

.fourth_col {
    width: 10%;
}

#game_board td>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 3vh;
}


#game_container {

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game {
    aspect-ratio: 1/1;
    height: 90vh;
    background-color: black;
    background-color: rgb(19, 72, 0);
    border: thick solid black;
    border-collapse: collapse;
}



#game td {
    height: 10%;
    width: 10%;
    padding: 0px;
    margin: 0px;
}


#game td div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game td div img {
    width: 80%;
    margin: 0px;
    padding: 0px;
}

#game tr:nth-child(2n) td:nth-child(2n),
#game tr:nth-child(2n+1) td:nth-child(2n+1) {
    background-color: white;
}

#prev,
#next {
    height: 10vh;
    aspect-ratio: 1/1;
    margin: 20px;
    background-color: rgb(56, 56, 56);
    outline: 0px;
    border-width: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 5vh;
    color: white;
}

#game_container button:hover {
    background-color: orange;
    color: black;
}

img {
    display: block;
    height: 5vh;
    aspect-ratio: 1/1;
}

#title img {
    height: 12vh;
    display: block;
    aspect-ratio: 1/1;
}