body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    height: 100vh;
    background-color: white;
}

#code{
    height: fit-content;
    font-size: 5vh;
}
#message{
    margin-top: 3px;
    margin-bottom: 10px;
    height: fit-content;
    font-size: 3vh;
}