body{
    background-color: rgb(35, 35, 35);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}


#container {
    background-color: rgb(56, 56, 56);
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    padding: 30px 0px;
}

#container > h1 {
    font-size: 5vh;
    display: flex;
    justify-content: center;
}

#container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

#container > div > input {
    width: 60%;
    height: 20%;
    margin-bottom: 20px;
    border: 2px solid grey;
    outline: none;
    background-color: grey;
    border-radius: 5px;
    padding-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 2vh;
}
#container>div>input:focus{
    border: 2px solid black;
}

#container > div > div {
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 20px;
    padding-left: 10px;
}

#container > div > div > button {
    background-color: grey;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: block;
    height: 100%;
    aspect-ratio: 3/1;
    font-size: 2vh;
}


#container>div>div>button:hover ,
#home_page:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
    transition: background-color 0.1 ease;
}


#home_page {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(56, 56, 56);
    border: none;
    outline: none;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 5px;
}


.error_message,
.success_message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 20px 10px;
}

.error_message {background-color: rgb(156, 0, 0);}
.success_message{background-color: rgb(0, 156, 10);}


